// Template "inspired" from here: http://bootsnipp.com/snippets/featured/collapsible-chat-widget
extends layout

block scripts
    script(src= socket)


block content
    script(src= script)

    div(class="container center-block", style="width:350px")
        div.row
            div
                div(class="panel panel-primary")
                    div.panel-heading Chat
                div.panel-body
                    ul.chat
                div.panel-footer
                    div.input-group
                        input(id="btn-input", type="text", class="messageInput form-control input-sm", placeholder="Say something")
                        span.input-group-btn
                            button(class="sendButton btn btn-primary btn-sm", id="btn-chat") Send
