doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href="/stylesheets/chat.css")
    script(src="https://code.jquery.com/jquery-2.1.0.min.js")
    block scripts
  body
    block content